if TARGET_BAIKAL_MIPS

choice
	prompt "Board type"
	default BAIKAL_QEMU

config BAIKAL_QEMU
	bool "Baikal-T for QEMU"
	help
	  Select this option for Baikal-T for QEMU support

config BOARD_TP_MRBT1
	bool "T-Platforms MRBT1 Board"
	select BAIKAL_T1
	select TP_FRU
	select TP_BOOTCONF
	help
	  Select this option for T-platforms Baikal-T1 based MRBT1 board

config BOARD_TP_MITX
	bool "T-Platforms MITX Board"
	select BAIKAL_T1
	select TP_FRU
	select TP_BOOTCONF
	help
	  Select this option for T-platforms Baikal-T1 based MITX board
	  
config BOARD_TP_ET412
	bool "Elpitech et412 Board"
	select BAIKAL_T1
	select TP_FRU
	select TP_BOOTCONF
	help
	  Select this option for Elpitech Baikal-T1 based et412 board

config BOARD_ET_ET402
	bool "Elpitech et402 Board"
	select BAIKAL_T1
	select TP_FRU
	select TP_BOOTCONF
	help
	  Select this option for Elpitech Baikal-T1 based et402 board

config BOARD_TP_SBC101
	bool "T-Platforms SBC101 Board"
	select BAIKAL_T1
	select TP_FRU
	select TP_BOOTCONF
	help
	  Select this option for T-platforms Baikal-T1 based SBC101 board

config BOARD_TP_RT1MB
	bool "T-Platforms RT1MB Board"
	select BAIKAL_T1
	select TP_BOOTCONF
	help
	  Select this option for T-platforms Baikal-T1 based RT1MB board

config BOARD_TP_AZURE
	bool "T-Platforms Azure Switch"
	select BAIKAL_T1
	select TP_BOOTCONF
	help
	  Select this option for T-platforms Baikal-T1 based Azure switch

endchoice # Board type

config BAIKAL_T1
	bool "Use Baikal-T1 CPU"
	help
	  Select this option to use Baikal-T1 CPU.

config SYS_BOARD
	default "mrbt1" if BOARD_TP_MRBT1
	default "mitx" if BOARD_TP_MITX
	default "et412" if BOARD_TP_ET412
	default "sbc101" if BOARD_TP_SBC101
	default "rt1mb" if BOARD_TP_RT1MB
	default "azure" if BOARD_TP_AZURE
	default "et402" if BOARD_ET_ET402
	default "qemu"

config SYS_VENDOR
	default "baikal"

config SYS_CONFIG_NAME
	default "tplatforms_mrbt1" if BOARD_TP_MRBT1
	default "tplatforms_mitx" if BOARD_TP_MITX
	default "elpitech_et412" if BOARD_TP_ET412
	default "elpitech_et402" if BOARD_ET_ET402
	default "tplatforms_sbc101" if BOARD_TP_SBC101
	default "tplatforms_rt1mb" if BOARD_TP_RT1MB
	default "tplatforms_azure" if BOARD_TP_AZURE
	default "baikal_qemu"

config SYS_TEXT_BASE
	default 0x9FC00000

config BAIKAL_ECC
	bool "ECC enable mode"
	default n

config DDR_FREQ_TWEAK
	int "Adjust DDR3 PLL frequency"
	range -2 2
	default "0"
	help
	  This allows to increase or decrease DDR3 PLL frequency in 3% steps

config DDR_CUSTOM_CLK
	int "Set custom DDR3 bus clocks frequency"
	default "0"
	help
	  This allows to set custom DDR3 clocks frequency (MT/s). Values out
	  of [1066; 1600] range effectively disable the customization.

config CUSTOM_SPD
	bool "Use user supplied SPD data"
	default n

if CUSTOM_SPD

config CUSTOM_SPD_FILE
	string "User defined SPD file"
	help
	  Read DDR3 SPD data from SPD_<name>.c file

endif # CUSTOM_SPD

config TP_BOOTCONF
	bool "T-Platforms bootconf support"
	default n

config TP_FRU
	bool "T-Platforms FRU support"
	default n

endif
