TEST_ARCH = mips
RUN_SHELL = no
RUN_ON_ALL_CORES = no
#TEST_SUITE_ON_CORE1 = sysreg
INVALIDATE_L1_ON_START = yes
INVALIDATE_L2_ON_START = yes
USE_FTLB = no 
COHERENCE_ENABLE = no
POWER_ON_CORES = no
UART_FIFO_ENABLE = no
CM2 = yes
MMU_CACHEABLE = no
BROM_HCI_CHECK = no
BROM_DEBUG = no
DEBUG = yes
TLB_DEBUG = no 
EXC_DEBUG = no
PAGE_SIZE = 4K
#PAGE_SIZE = 4K 16K 64K 256K 1M 16M 64M 256M
SIMD_ENABLE = no
EARLY_PRINTK = no
INCLUDE_BOOT = no
CP0_SYSREG_TEST = no

INIT_DDR = no
USE_DDR_SPD = no
UBOOT_I2C_SPD = no
DDR_INIT_FILL = no
ECC_DDR_ENABLE = no
#ECC_DBG_ERR = correctable
SINGLE_RANK_DDR = no
DDR_SPD_TEST = no


BUILD_FOR_BAIKAL_T = yes
BUILD_FOR_UBOOT_LIB = yes
PHYS_OFFSET = 0xA0100000
SREC_START = 0xA0101000
VTABLE_OFFSET = 0x0
START_TEST_TEXT = 0xA0104000
VTABLE_BASE = 0x9FC00000

TS_DEV_LIST = memtest

