// SPDX-License-Identifier: GPL-2.0+
/*
 * T-Platforms MITX board device tree.
 *
 * Copyright (C) 2017-2019 T-Platforms 
 *
 */

#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;

#include "baikal_t1_soc.dtsi"

/ {
	model = "T-Platforms MITX Board";
	compatible = "baikal,mips", "baikal,baikal-t1-soc";

	aliases {
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
	};

	chosen {
		bootargs = "root=/dev/ram rw console=ttyS0,115200n8 earlyprintk=uart8250,mmio32,0x1F04A000,115200 nohtw";
		linux,initrd-start = <0 0x01000000>;
		linux,initrd-end   = <0 0x02000000>;
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0 0x08000000>,
		      <0 0x20000000 0 0x70000000>;
	};

	sata_phy: phy@0 {
		compatible = "nop-phy";
		#phy-cells = <0>;
		clocks;
	};

	macgpio0: macgpio@1F05E0E0 {
		compatible = "snps,dwmac-gpio";
		reg = <0 0x1f05e0e0 0 0x4>;
		#gpio-cells = <2>;
	};

};

&usb {
	status = "okay";
};

&sata {
	status = "okay";
	phys = <&sata_phy>;
	phy-names = "sata-phy";
};

&pcie {
	status = "okay";
	snps,reset-gpio = <&porta 12 GPIO_ACTIVE_LOW>;
};

&gmac0 {
	status = "okay";
	snps,reset-gpio = <&macgpio0 0 GPIO_ACTIVE_LOW>;
	dwmac-reset-phy;
	dwmac-reconfig-phy;
};

&gpio {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	u-boot,dm-pre-reloc;

	usb_hub: usb_hub@2c {
		compatible = "microchip,usb251x", "i2c-generic";
		reg = <0x2c>;
	};

	eeprom@53 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x53>;
		u-boot,i2c-offset-len = <2>;
	};

	eeprom@50 {
		compatible = "atmel,24c02";
		pagesize = <16>;
		reg = <0x50>;
		u-boot,dm-pre-reloc;
	};

	bmc@8 {
		compatible = "tp,mitx2-bmc", "t-platforms,mitx2-bmc";
		reg = <0x08>;
	};

	shred: gpio@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0x0>;
	};

	rtc: rtc@51 {
		compatible = "nxp,pcf2127", "pcf2127-rtc";
		reg = <0x51>;
	};
};

&spi0 {
	num-cs = <2>;
	cs-gpios = <&porta 14 GPIO_ACTIVE_LOW>, <0>;
	cs-gpio = <&porta 14 GPIO_ACTIVE_LOW>;
	status = "okay";
	spi-max-frequency = <5000000>;
	dummy-tx = <0xff>;

	mmc-slot@0 {
		compatible = "fsl,mpc8323rdb-mmc-slot", "mmc-spi-slot";
		reg = <0>;
//		gpios = <&porta 15 GPIO_ACTIVE_LOW>, <0>;
		voltage-ranges = <2700 3600>;
		max-frequency = <5000000>;
	};
};

&spi1 {
	num-cs = <1>;
	cs-gpios = <0>;
	status = "okay";
	spi-max-frequency = <5000000>;
};

&spi2 {
	status = "okay";
	num-cs = <1>;
	spi-max-frequency = <25000000>;

	boot_flash: spi_flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "micron,mt25qu128", "jedec,spi-nor";
		spi-max-frequency = <12500000>;
		m25p,fast-read;

		partition@0 {
			label = "bootloader";
			reg = <0x0 0xE0000>;
			read-only;
		};

		partition@1 {
			label = "environment";
			reg = <0xE0000 0x10000>;
		};

		partition@2 {
			label = "information";
			reg = <0xF0000 0x10000>;
			read-only;
		};

		partition@3 {
			label = "multiimage";
			reg = <0x100000 0xF00000>;
			read-only;
		};

		partition@4 {
			label = "firmware";
			reg = <0x0 0x1000000>;
		};
	};
};

&pvt {
	status = "okay";
};
