CONFIG_DEFCONFIG_LIST="configs/sandbox_defconfig"
CONFIG_SYS_EXTRA_OPTIONS="SYS_LITTLE_ENDIAN"
CONFIG_MIPS=y
CONFIG_SYS_ARCH="mips"
CONFIG_SYS_CPU="mips32"
CONFIG_SYS_BOARD="mips"
CONFIG_SYS_VENDOR="baikal"
CONFIG_SYS_CONFIG_NAME="tplatforms_rt1mb"
CONFIG_TARGET_BAIKAL_MIPS=y
CONFIG_TPLATFORMS_RT1MB=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_AUTO_COMPLETE=y
CONFIG_CMDLINE_EDITING=y
CONFIG_CMD_ENV=y
CONFIG_ENV_OVERWRITE=y
CONFIG_CMD_GO=y
CONFIG_CMD_SAVES=y
CONFIG_CMD_CRC32=y
CONFIG_SERIAL=y
CONFIG_CONS_INDEX=1
CONFIG_BAUDRATE=115200
