CONFIG_SYS_EXTRA_OPTIONS="SYS_LITTLE_ENDIAN"
CONFIG_MIPS=y
CONFIG_SYS_CONFIG_NAME="tplatforms_bn1bt1"
CONFIG_TARGET_BAIKAL_MIPS=y
CONFIG_TPLATFORMS_BN1BT1=y
CONFIG_BAIKAL_T1=y
CONFIG_TUNE_P5600=y
CONFIG_USE_HARD_FLOAT=y
